h1{
    text-align: center;
}

.notice{
    text-align: center;
    background-color: #EAE6DB;
    border: 3px solid black;
    margin: auto;    
    font-size: larger;
    padding: 15px;
}

.container{
    width: 60%;
    margin:auto;
    text-align: center;
}


input, label{
    display: block;
    margin:auto;
}

input{
    margin-bottom: 1.0rem;
    width: 40%;
}


